<section class="wizard">
  <h1>Тестовое задание Wizard</h1>
  <ul class="wizard-navigation">
    <li
      *ngFor="let step of wizard.steps"
      class="wizard-navigation__item"
      [ngClass]="{ 'wizard-navigation__item_current': currentStep === step.name, 
                   'wizard-navigation__item_completed': isCompletedStep(step.name) }">
      {{step.name.replace('-', ' ').replace('s', 'S')}}
    </li>
  </ul>

  <div class="wizard-step-container">
    <router-outlet></router-outlet>
  </div>
</section>

