<form>
  <div class="user-phone">
    <mat-form-field class="example-full-width">
      <span matPrefix>+7 &nbsp;</span>
      <input 
        matInput
        [formControl]="phoneNumber"
        minlength="10" 
        type="tel" 
        mask="(000) 000 00 00" 
        placeholder="Номер телефона" 
        required>
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="phoneNumber.invalid && phoneNumber.value">
        Введены некорректные данные
      </mat-error>
    </mat-form-field>
  </div>

  <div class="step-actions step-actions_first-step">
    <mat-error *ngIf="phoneNumber.invalid && clickButton">
      Укажите Ваш мобильный телефон
    </mat-error>
    <button mat-flat-button type="submit" color="primary" class="button" (click)="onNextButtonClick()">Вперед</button>
  </div>
</form>
